.col-lg-6{
    margin:auto!important;
}
.bankCardContent h2, h4{
    margin-bottom: 0px;
  }
 .bankCardContent h4{
    font-weight: 500;
    color: #b2b5b9;
 }
 .bankCardContent{
    border:1px solid black;
    padding: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
 }
 .bankCardContent div:nth-child(2) fa-icon{
   float:right;
 }
 .bankCardContent div:nth-child(3){
   /* margin-bottom: 10px; */
   grid-column: 2;
 }
 .bankCardContent div:nth-child(3) button{
   float:right;
 }
 .bankCardContent div:nth-child(3) button:nth-child(2){
   margin-right: 10px;
 }
 .faCreditCard{
    font-size:20px;
 }
 .aboutHotelContent{
    padding-bottom: 25px;
 }
 .bankCardHeading h1{
    font-size: 32px !important;
    font-weight: 500 !important;
}
.bankCardHeading{
    padding-top: 20px;
    padding-bottom: 20px;
}
.exp-wrapper {
    position: relative;
    border: 1px solid  black ;
 
    display: flex;
    
    justify-content: space-around;
    color:black;
    line-height: 36px;
    font-size: 24px;
  }
  
  .exp-wrapper:after {
    content: '/';
    position: absolute;
    left: 50%;
    margin-left: -4px;
    color: #aaa;
  }
  
  input.exp {
    float: left;
    font-family: monospace;
    border: 0;
    width: 18px;
    outline: none;
    appearance: none;
    font-size: 14px;
  }
  .col-md-8{
    padding-top: 40px;
  }
  .btn-close{
    margin: 5px;
}