<div class="col-md-12 navigation">
  <div class="dashboard">
    <a type="submit" (click)="dashboardNavigate()">Dashboard</a>
  </div>
<div class="settings">
    <a routerLink="userInfo" >Settings</a>
  </div>
</div>
<br>
<br>
<div class="container">
       <div class="row">
              <div class="col-md-12 col-lg-6">
                     <div class="userInfo col-md-12">
                            <div class="userInfoHeading">
                              <h1>Your Information</h1>       
                            </div>
                            <div class="userInfoContent">
                               <div class="username">
                                   <label>Email</label>
                                   <h3>{{userData.email}}</h3>
                               </div>   
                               <div class="forgotPassword">
                                   <label>Did you forget your password?</label> 
                                  
                                   <button 
                                   (click)="onForgotPasswordBtnClick()"
                                   type="button" mat-raised-button> Recover Password</button> 
                               </div>
                            

                                  
                               
                            </div>
                            </div>

                            <div class="col-md-8 m-auto mt-29">
                                   <div class="bankCard" *ngIf="userBankCard == null">
                                          <div class="bankCardHeading">
                                            <h1>Add Card Details</h1>
                                          </div>
                                          <div class="addBankCard">
                                            <form [formGroup]="bankCard" (ngSubmit)="onAddBankCard()">
                                              <div class="mb-3">
                                                <label class="form-label">Card Holder Name</label>
                                                <div class="input-group">
                                                  <input type="text" class="form-control" formControlName="holder" name="holder" aria-describedby="basic-addon3" placeholder="JOHN SMITH" required>
                                                </div>
                                              </div>
                                              <div class="mb-3">
                                                <label class="form-label">Card Number</label>
                                                <div class="input-group">
                                                  <input type="text" class="form-control"  type="tel" formControlName="number" required inputmode="numeric" pattern="[0-9\s]{13,19}" minlength="16" maxlength="16" autocomplete="cc-number" maxlength="19" name="number" aria-describedby="basic-addon3" placeholder="1234 5678 9876 5432">
                                                </div>
                                              </div>
                                              <div class="mb-3 d-flex">
                                                <div class="col-md-6">
                                                  <label class="form-label">Card Expiration Date</label>
                                                  <div class="exp-wrapper input-group">
                                                    <input autocomplete="off" class="exp " id="ExpMonth"  name="start" maxlength="2" formControlName="expMonth" required pattern="[0-9]*" inputmode="numerical" placeholder="MM" type="text" data-pattern-validate />
                                                    <input autocomplete="off" class="exp" id="ExpYear"  name="end" maxlength="2" formControlName="expYear" required pattern="[0-9]*" inputmode="numerical" placeholder="YY" type="text" data-pattern-validate />
                                                  </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4">
                                                  <label class="form-label">Card CVV Number</label>
                                                  <div class="input-group">
                                                    <input type="number" class="form-control" formControlName="cvv" name="cvv"  required id="basic-url" aria-describedby="basic-addon3" placeholder="123">
                                                  </div>
                                                </div>
                                              </div>
                                              <button [disabled]="!bankCard.valid" type="submit" class="btn btn-dark col-md-12 d-block continue"> Continue </button>
                                            </form>
                                          </div>
                                        </div>    
                                        <div class="bankCard" *ngIf="userBankCard !=null">
                                          <div class="bankCardContent">
                                            <div>
                                              <h2>{{userBankCard.holder}}</h2>
                                              <h4>**** **** **** {{lastFourDigits}}</h4>
                                              <h4>{{userBankCard.expMonth}} / {{userBankCard.expYear}}</h4>
                                            </div>
                                       
                                            <div>
                                                 <button (click)="deleteBankCard()" mat-raised-button color="warn">Delete</button>
                                                 <button (click)="open(demoModal)" mat-raised-button>Update</button>
                                          </div>
                                          </div>

                                        </div>   
                            </div>
                     </div>
                     
             
       </div>
</div>

<ng-template #demoModal let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>

    <div class="modalHeading">
    <h2 class="modal-title" id="modal-basic-title">Credit card update</h2>
    </div>
  </div>
  <div class="modal-body">
    <div class="bankCard" >
     
      <div class="addBankCard">
        <form [formGroup]="updateBankCard" (ngSubmit)="OnUpdateBankCard()">
          <div class="mb-3">
            <label class="form-label">Card Holder Name</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="updatedHolder" name="updatedHolder" aria-describedby="basic-addon3" placeholder="JOHN SMITH" required>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Card Number</label>
            <div class="input-group">
              <input type="text" class="form-control"  type="tel" formControlName="updatedNumber" required inputmode="numeric" pattern="[0-9\s]{13,19}" minlength="16" maxlength="16" autocomplete="cc-number" maxlength="19" name="updatedNumber" aria-describedby="basic-addon3" placeholder="1234 5678 9876 5432">
            </div>
          </div>
          <div class="mb-3 d-flex">
            <div class="col-md-6">
              <label class="form-label">Card Expiration Date</label>
              <div class="exp-wrapper input-group">
                <input autocomplete="off" class="exp " id="month"  name="updatedExpMonth" maxlength="2" formControlName="updatedExpMonth" required pattern="[0-9]*" inputmode="numerical" placeholder="MM" type="text" data-pattern-validate />
                <input autocomplete="off" class="exp" id="year"  name="updatedExpYear" maxlength="2" formControlName="updatedExpYear" required pattern="[0-9]*" inputmode="numerical" placeholder="YY" type="text" data-pattern-validate />
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <label class="form-label">Card CVV Number</label>
              <div class="input-group">
                <input type="number" class="form-control" formControlName="updatedCvv" name="updatedCvv"  required id="basic-url" aria-describedby="basic-addon3" placeholder="123">
              </div>
            </div>
          </div>
          <div class="modal-footer">
          <button  type="submit" class="btn btn-dark col-md-12 d-block continue" (click)="modal.close('Save click')"> Update </button>
        </div>
        </form>
      </div>
    </div>   
  </div>

</ng-template>




