.navigation{
    justify-content: center;
    display: flex;
}
.settings {
    padding: 10px;
}
.dashboard{
    padding: 10px;
    border-block-end: solid black thin;
}
.dashboard a, .settings a{
    text-decoration: none;
    color: black;
}
.cardImage img{
    width: -webkit-fill-available;
    min-height: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    vertical-align: bottom;
}
.cardsArea{
    margin: auto;
}
.card{
    border: none;
    width:16rem!important;
}
.cardName, .cardTitle{
    font-weight: 500;
}
.cardTitle{
    margin-bottom: 5px;
}
.cardBody{
    padding-top:10px;
}
h4, h5{
    margin-bottom: 0px;
}
ul{
    display: flex;
    list-style: none;
    padding: 0px;
    width: 100%;
    margin-bottom: 8px;
}
.hotelInnerDetails ul li:nth-child(2){
    padding-left:5px;
}
.hotelInnerDetails ul li:nth-child(3) span{
    float:right;
}
.hotelBookingDates ul li:nth-child(2), .hotelBookingDates ul li:nth-child(3){
    padding-left: 5px;
}