<div class="col-md-3 sideNav">

    <a routerLink="userInfo">My information</a>
</div>

<tbody>
    <!-- <tr *ngFor="let bookedHotel of bookedHotelsList">
       <td>{{ bookedHotel.payload.doc.data().hotelId }}</td>
     
    </tr> -->
    </tbody>

    <div class="container">
        <div class="row">
            <div class="row row-cols-1 row-cols-md-6 g-4 cardsArea">
   
                <!-- <app-hotel-card *ngFor="let hotelCard of  hotelCardList" [hotelCardItem]="hotelCard" ></app-hotel-card> -->
                <div class="col" *ngFor="let hotelCard of usersBookedHotelList">
                    <div class="card h-100">
                  <img [src]="hotelCard.imageUrl">
                  
                      <div class="card-body">
                        <h4 class="card-title">
                          {{ hotelCard.bedroomName }}, {{ hotelCard.nights }}
                        </h4>
                        <!-- <h4 class="card-name">{{ hotelCard.rooms }} rooms</h4> -->
                  
                        <h4 class="card-city"></h4>
                 
                      </div>
                    </div>
                  </div>
                  
            </div>
        </div>
    </div>

    <!-- <button (click)="onclick()">click me!</button> -->