<div class="col-md-3 sideNav">

    <a routerLink="userInfo">My information</a>
</div>

<!-- <tbody>
    <tr *ngFor="let bookedHotel of bookedHotelsList">
       <td>{{ bookedHotel.payload.doc.data().hotelId }}</td>
     
    </tr>
    </tbody> -->

    <div class="container" *ngIf="usersBookedHotelList != null">
        <div class="row">
          <div class="col-md-12 " >
            <div class="bookedCardsHeading">
              <h1>Your Bookings</h1>
            </div>
            <div class="bookedCards">
            <div class="card" style="width: 18rem;" *ngFor="let bookedHotel of usersBookedHotelList" >
              
              <!-- <div *ngIf="bookedHotel.payload.doc.data().userId == userData.uid"> -->
        
                        <!-- <div class="cardImage">
                            <img [src]="bookedHotel.imageUrl" class="image" alt="Random first slide"/>
                        </div> -->
                   
             
        
            
              <div class="card-body">
                  <h3 class="card-title">{{bookedHotel.address}}</h3>
                  <div class="hotelInnerDetails">
                      <!-- <ul>
                          <li>{{room.bathRoomsCount}} bathrooms</li>
                         
                          <li><span>{{room.bedsCount}} beds</span></li>
                         
                       
                          <li><span>{{room.personsCount}} persons</span></li>
                         </ul> -->
                       </div>
             
                
                <!-- <button class="btn" routerLink="hotel_inner/${{bookedHotel.payload.doc.data().hotelId}}/booking">Continue</button> -->
              </div>
            </div>
          </div>
        </div>
        </div> 
                
                <!-- <div class="col" *ngFor="let bookedHotel of bookedHotelsList" >
                  <div >
                  -->
                  
            
        </div>
    <!-- </div> -->

<!-- <button (click)="showbookings()">show</button> -->