<div class="container" *ngIf="bookedHotelData != null">
  <div class="row">
    <div class="col-md-10 m-auto d-flex">
      <div class="confirmationHeading">
        <h1>Confirm and pay</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 m-auto d-flex">
      <div class="col-md-6 ">
        <div class="confirmation">
          <div class="confirmationContent">
            <div class="confirmationContentHeading">
              <h1>Your trip</h1>
            </div>
            <div class="confirmationContentDates">
              <h3>Dates</h3>
              <h4>{{bookedHotelData[0].checkInDate | date}} - {{bookedHotelData[0].checkOutDate | date}}</h4>
            </div>
            <div class="confirmationContentGuests">
              <h3>Guests</h3>
              <h4>{{bookedHotelData[0].guestsCount}} guest </h4>
            </div>
          </div>
          <hr>
          <div class="bankCard" *ngIf="userBankCard == null">
            <div class="bankCardHeading">
              <h1>Add Card Details</h1>
            </div>
            <div class="addBankCard">
              <form #addBankCard="ngForm" (ngSubmit)="onAddBankCard(addBankCard)">
                <div class="mb-3">
                  <label class="form-label">Card Holder Name</label>
                  <div class="input-group">
                    <input type="text" class="form-control" ngModel name="holder" aria-describedby="basic-addon3" placeholder="JOHN SMITH" required>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Card Number</label>
                  <div class="input-group">
                    <input type="text" class="form-control" ngModel type="number" required inputmode="numeric" pattern="[0-9\s]{13,19}" minlength="16" maxlength="16" autocomplete="cc-number" maxlength="19" name="number" aria-describedby="basic-addon3" placeholder="1234 5678 9876 5432">
                  </div>
                </div>
                <div class="mb-3 d-flex">
                  <div class="col-md-6">
                    <label class="form-label">Card Expiration Date</label>
                    <!-- <div class="input-group expDate"><input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3"><span>/</span><input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3" max ="4" required></div> -->
                    <div class="exp-wrapper">
                      <input autocomplete="off" class="exp " id="month" ngModel name="start" maxlength="2" required pattern="[0-9]*" inputmode="numerical" placeholder="MM" type="text" data-pattern-validate />
                      <input autocomplete="off" class="exp" id="year" ngModel name="end" maxlength="2" required pattern="[0-9]*" inputmode="numerical" placeholder="YY" type="text" data-pattern-validate />
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
                    <label class="form-label">Card CVV Number</label>
                    <div class="input-group">
                      <input type="number" class="form-control" ngModel name="cvv" required id="basic-url" aria-describedby="basic-addon3" placeholder="123">
                    </div>
                  </div>
                </div>
                <button [disabled]="!addBankCard.valid" type="submit" class="btn btn-dark col-md-12 d-block continue"> Continue </button>
              </form>
            </div>
          </div>
          <div class="bankCard" *ngIf="userBankCard !=null">
            <div class="bankCardContent">
              <div>
                <h2>{{userBankCard.holder}}</h2>
                <h4>**** **** **** {{userBankCard.number}}</h4>
                <h4>{{userBankCard.expMonth}} / {{userBankCard.expYear}}</h4>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="aboutHotel">
          <div class="aboutHotelHeading d-flex">
            <div class="aboutHotelHeadingImage">
              <img [src]="bookedHotelData[0].imageUrl">
            </div>
            <div class="aboutHotelHeadingContent">
              <h3>{{bookedHotelData[0].hotelName}}</h3>
              <h4>{{bookedHotelData[0].roomName}}</h4>
              <fa-icon [icon]="faStar" class="faStar"></fa-icon>
              <a>5.0</a>
            </div>
          </div>
          <hr>
          <div class="aboutHotelContent">
            <div class="aboutHotelContentHeading">
              <h2>Price details </h2>
              <h2>Total</h2>
            </div>
            <div class="aboutHotelContentPricing">
              <span>
                <a id="price">{{bookedHotelData[0].pricePerNight}} x</a>
                <a id="days"> {{bookedHotelData[0].dayCount}} night</a>
              </span>
              <span id="daysPriceSum">{{bookedHotelData[0].priceSum}}$</span>
            </div>
          </div>
          <div class="bookingSection" *ngIf="userBankCard !=null">
            <button id="book" type="submit" class="btn btn-dark col-md-12 d-block continue" (click)="bookhotel()"> Continue </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>