
.hotelShortDescription{
    display: flex;
}
.hotelShortDescription ul{
    display: flex;
    list-style:none;
    padding-left: 0px;
}

.hotelInnerDetails ul{
    display: flex;
    list-style:none;
    padding-left: 0px;
}
.hotelInnerDetails li:nth-child(1) {
    padding-left: 0px!important;
  }
  .hotelInnerDetails li:nth-child(2) {
    padding-left: 10px;
  }
  .hotelInnerDetails li:nth-child(3) {
    padding-left: 10px;
  }
  
.hotelShortDescription ul li a{
    color:black;
    
}
.hotelShortDescription a {
    padding-left: 3px;
}
.hotelShortDescription .streetAdd{
    padding-left: 10px;
}
.hotelInnerDetails{
    display: flex;
}
.col-md-10{
    margin: auto;
}
.mainSlider{
    height: 600px!important;
}
.picsum-img-wrapper imgz{
    width: 100%;
    height: 100%;
}
.hotelInnerDescriptionColumn{
    display: flex;
}
.price {
    font-size: 23px;
    font-weight: 500;
}

.continue{
    background: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
    color: white;
    width: 90%;
    margin: auto;
    border: none;
    background-size: 200% 200% !important;
    height: 40px;
    border-radius: 7px;
    margin-top: 10px;
}
.bookingSectionHeading{
    display: grid;
    grid-template-columns: 80% 20%;
}
.bookingSection{
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    position: sticky;
    top:0px;
}
.bookingSectionHeading .hotelShortDescription{
    padding-top: 7px;
    justify-self: end;
}
.calendar{
    text-align: center;
}
mat-form-field{
    width: 90%;
}
.bookingSectionDateRange{
    text-align: center;
}
.bookingSectionContent div:nth-child(2) {
text-align: center;
}
.remove{
    display:none;
}
.show{
    display: block;
}
#days, #price{
    text-decoration: underline;
}

.bookingSectionContent div:nth-child(3) span:nth-child(2){
    float:right;
}
.hotelInnerImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
.card{
   border:0;
   margin-bottom: 10px;
}
.image{
    width: -webkit-fill-available;
    min-height: 250px;
    height: 260px;
    border-radius: 20px;
    object-fit: cover;
    vertical-align: bottom;
}

.roomsSection{
    display: grid;
    grid-template-columns: 70% 30%;
    /* grid-template-rows: 5% 95%; */
}
.roomsSection .col-lg-6{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    grid-row: 2;
}
.roomsSection .col-md-4{
    width: 100%;
    grid-row: 2;
}
.btn{
    border-width: thin;
    background: white;
    margin-top: 20px!important;
    border-color: #abb0b540;
    display: flex;
    margin: auto;
    height: 50px;
    width: auto;
    text-align: center;
    justify-content: center;
    padding-top: 12px;
    font-size: 15px;
    border-radius: 10px;
    position: relative;
    bottom: 10px;
  }
  .card-body h3{
    margin-bottom: 5px;
  }
  .hotelInnerDetails ul{
    margin:0px;
  }
  .bookingSectionHeading div:nth-child(2){
    grid-row: 2;
  }
  .bookingSectionHeading div:nth-child(3){
    grid-row: 3;
  }
  agm-map {
    height: 300px;
  }
  .none{
    display: none;
  }

  @media only screen and (max-width: 600px) {
    .roomsSection{
        display: block;
    }
    .roomsSection .col-lg-6{
        display: block;
        
    }
    .roomsSection .col-lg-6 .card{
        margin:auto
    }

  }

  @media only screen and (min-width: 600px) and (max-width: 900px) {
    .roomsSection{
        display: block;
    }
    .card.ng-star-inserted {
        width: 15rem!important;
    }
    
  }
  @media only screen and (min-width: 900px) and (max-width: 1024px) {
    .roomsSection{
        display: block;
    }
    .card.ng-star-inserted {
        width: 17rem!important;
    }
 
    
  }
  @media only screen and (min-width: 1024px) and (max-width: 1200px) {
    /* .roomsSection{
        display: block;
    } */
    .card.ng-star-inserted {
        width: 15rem!important;
    }
 
    
  }


