<div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="hotelHeading">
            <h1>Zion Kolob Canyon-Farm Stay-cows, goats, alpaca</h1>
        </div>
        <div class="hotelShortDescription">
            <fa-icon [icon]="faStar" class="faStar"></fa-icon>
            <h4>5.0</h4>
          
            <h4 class="reviewsNum">13 reviews</h4>
            <h4 class="streetAdd">Cedar City, Utah, United States</h4>
        </div>
    </div>
    </div>
    <br>
    <div class="row">
        <ngb-carousel >
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="https://a0.muscache.com/im/pictures/miso/Hosting-713898202877836679/original/5bd69eb7-e4ae-4615-97b7-440f1658683c.jpeg?im_w=1200" class="hotelInnerImage" alt="Random first slide" />
                </div>
     
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="https://a0.muscache.com/im/pictures/miso/Hosting-713898202877836679/original/708fb461-5cdb-4a35-8e8e-87d2043dbd41.jpeg?im_w=1440"  class="hotelInnerImage" alt="Random second slide" />
                </div>
              
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="https://a0.muscache.com/im/pictures/miso/Hosting-713898202877836679/original/150e8819-9d4b-4a23-8776-d625dce687c8.jpeg?im_w=1440"  class="hotelInnerImage" alt="Random third slide" />
                </div>
         
            </ng-template>
        </ngb-carousel>
    </div>
    <br>
    
    <div class="row">
        <div class="hotelInnerDescription">
            <div class="hotelInnerShortDescription">
           <ul>
            <li>2 guests</li>
           </ul>
           <ul>
            <li>1 bed</li>
           </ul>
           <ul>
            <li>1 bath</li>
           </ul>
        </div>
        <hr>
        <div class="hotelInnerTextDescription">
       <p>Perched high on an ocean hillside, built on 30 ft tall steel legs, the cozy quarters above are akin to an old ship’s cabin. With 360 views at 30ft up you can chart the sun and stars across the sky, set your rhythm to the ebb & flow of the tide and scout the surf from above. Greet the evenings with a cozy woodstove, sunset with drinks on the deck, moonrise with a dip in the hottub & mornings with fresh espresso. Permit yourself to depart land for a while and come stand watch at The Tower.</p>
        </div>
        </div>
    </div>
</div>