<div class="col-md-12" >
    <div class="col-md-4">
    <ul>
        <li>ⓒ 2022 Airbnb, Inc.</li>
    </ul>    
    <ul>
        <li>Privacy</li>
    </ul>    
    <ul>
        <li>Terms</li>
    </ul>    
    <ul>
        <li>Sitemap</li>
    </ul> 
    <ul>
        <li>Destinations</li>
    </ul>       
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-3"> 
         <ul>
          
    
            <li><fa-icon [icon]="faGlobe"></fa-icon></li>
            <li>English (US)</li>
    </ul>
    <ul>
        <li>$ USD</li>
    </ul>
    <ul>
        <li>Support & resources</li>
    </ul>
    </div>
</div>