.col-md-12{
    background: #ffffff;
    height: 40px;
    position: fixed;
    bottom: 0;
   transition: bottom 0.2s ease-in-out;
    width: 100%;
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;
    display: flex; 
}
.col-md-4{
    display: flex;
}
.col-md-4, .col-md-3 ul {
    padding-top: 10px;
}
.col-md-4 ul li{
    font-size:14px;
}
.col-md-3{
    display:flex;
}
.col-md-3 ul{
    display: flex;
    list-style: none;
}
.col-md-3 ul li{
    padding-left:10px;
}
a{
    text-decoration: none;
    color: black;
}
