<li>
    <!-- <a href={{categoryCardItem.id}} routerLink="home/${{categoryCardItem.id}}" (click)="getCategoryId()"> -->
        <a routerLink="/category-filtered/{{categoryCardItem.id}}">
        <div class="categoryCard">
            <div class="img-holder">
                <img class="categoryCardIcon" [src]="categoryCardItem.icon" alt="img-description" width="72" height="72">
            </div>
            <div class="categoryCardName" style="overflow:hidden">{{categoryCardItem.name}}</div>
        </div>
    </a>
</li>