<section class="category col-md-10">
  <button class="btn-white" routerLink="">Show All</button>
  <div class="holder">
    <ul class="slider">
      <app-category-filter-card
        *ngFor="let categoryCard of categoryList"
        [categoryCardItem]="categoryCard"
      ></app-category-filter-card>
    </ul>
  </div>

  <div class="filter">
    <button class="btn-white" (click)="filterPopUp()">
      <li><fa-icon [icon]="faSliders"></fa-icon></li>
      filter
    </button>
  </div>
</section>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" (click)="close()"></button>

      <div class="modal-header"></div>

      <div class="modal-body">
        <div class="priceRangeSection">
          <div class="priceRangeSectionHeading">
            <h2>Price range</h2>
          </div>
         
          <span>From </span> <input type="number"  [(ngModel)]="priceFrom"> 
          <span>To </span><input type="number"  [(ngModel)]="priceTo">
          <!-- <input
            type="range"
            class="form-range"
            min="10"
            max="500"
            step="5"
            id="customRange3"
            [(ngModel)]="priceFrom"
          />
          <input
            type="range"
            class="form-range"
            min="{{ priceFrom }}"
            max="500"
            step="5"
            id="customRange4"
            [(ngModel)]="priceTo"
          />

          <span>{{ priceFrom }}</span>
          <br />
          <span>{{ priceTo }}</span> -->

        </div>

        <div class="typeOfPlaceSection">
          <div class="tpyeOfPlaceSectionHeading">
          <h2>Type of place</h2>
        </div>
          <!-- <div class="entirePlace type">
                        <div >
                          <input ngModel name="entirePlace" class="form-check-input" type="checkbox" id="checkboxNoLabel" value="1" aria-label="...">
                        </div>
                        <div class="entirePlaceText">
                          <h3>Entire Place</h3>
                          <h4>A place all to yourself</h4>
                        </div>
                       </div>
                       <div class="privateRoom type">
                        <div>
                          <input ngModel name="privateRoom" class="form-check-input" type="checkbox" id="checkboxNoLabel" value="2" aria-label="...">
                        </div>
                        <div class="privateRoomText">
                          <h3>Private room</h3>
                          <h4>Your own room in a home or a hotel, plus some shared common spaces</h4>
                        </div>
                       </div>
                       <div class="sharedRoom type">
                        <div>
                          <input ngModel name="sharedRoom" class="form-check-input" type="checkbox" id="checkboxNoLabel" value="3" aria-label="...">
                        </div>
                        <div class="sharedRoomText">
                          <h3>Shared room</h3>
                          <h4>A sleeping space and common areas that may be shared with others</h4>
                        </div>
                       </div> -->

          <select matNativeControl required [(ngModel)]="typeOfPlace">
            <option value="entire place">Entire place</option>
            <option value="private room">Private room</option>
            <option value="shared room">Shared room</option>
          </select>
        </div>

        <div class="roomsCountSection">
          <div class="roomsCountSectionHeading">
            <h2>Amount of rooms</h2>
          </div>
          <!-- <button (click)="AddFilterRooms()">add rooms</button>
                        <div  *ngFor="let item of roomsCounter">
                        </div> -->
<div class="roomsCountSectionContent">
          <div class="rooms">
            <label>Rooms</label>
            <select matNativeControl required [(ngModel)]="rooms">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="beds">
            <label>Beds</label>
            <select matNativeControl required [(ngModel)]="beds">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="baths">
            <label>Bathrooms</label>
            <select matNativeControl required [(ngModel)]="bathrooms">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
        </div>
      </div>
        <div class="propertyType">
          <div class="propertyTypeHeading">
            <h2>Property type</h2>
          </div>
          <button (click)="onHomePropertyTypeClick()"  type="button" class="btn btn-dark">Home</button>
          <button (click)="onVillaProperyTypeClick()"  type="button" class="btn btn-dark">Villa</button>
        </div>

        <div class="ameneties">
          <div class="amenetiesHeading">
            <h1>What this place offers</h1>    
        </div>
        <div class="amenetiesContent">
            <div class="amenetieCategorySection" >
              <form [formGroup]="amenetiesForm" class="amenetiesForm">
                 <div><mat-checkbox class="example-margin" formControlName="bathtub"></mat-checkbox>{{amenetiesList[0]}}</div>
                <div><mat-checkbox class="example-margin" formControlName="hairDryer"></mat-checkbox>{{amenetiesList[1]}}</div> 
                
               <div><mat-checkbox class="example-margin" ></mat-checkbox>{{amenetiesList[2]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[3]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[4]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[5]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[6]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[8]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[17]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[20]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[21]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[22]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[26]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[30]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[40]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[42]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[43]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[44]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[45]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[46]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[51]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[52]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[57]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[58]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[59]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[60]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[61]}}</div>
                <div><mat-checkbox class="example-margin"></mat-checkbox>{{amenetiesList[62]}}</div>  
              </form>
            </div>
          
    </div>
    <h4>You chose:</h4>
    {{amenetiesForm.value | json}}
</div>

        <div class="modal-footer">
          <button
          mat-raised-button
            [routerLink]="['/filtered']"
            [queryParams]="{
              PriceFrom: priceFrom,
              PriceTo: priceTo,
              typeOfPlace: typeOfPlace,
              RoomsCount: rooms,
              BedsPerRoomCount: beds,
              BathRoomsCount: bathrooms,
              PropertyType: propertyType
             
            }"
            (click)="close()"
          >
          
            Show results
          </button>
        </div>
      </div>
    </div>
  </div>
</div>