.category {
    margin: auto;
    text-align:center;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.category .holder {
    /* margin: 0 -7px 0 -4px; */
    padding: 5px 0 0;
    position: relative;
   /*display: inline-block;*/
}
.category .slider {
    font: 15px "BrandonGrotesqueMedium", Helvetica, sans-serif;
    list-style: none;
    margin: auto;
    position: relative;
    padding: 4px 0 10px;
    overflow-x: scroll;
    white-space: nowrap;
    width: auto;
    -webkit-overflow-scrolling: touch;
}

.category .slider li {
    display: inline-table;
    position: relative;
    text-align: center;
    width: 210px;
}
.category .slider a {
    text-decoration: none;
    color: #333!important;
}
.category .slider .categoryCard {
    width: 100%;
}
.category .slider .img-holder {
    margin: 0 0 -12px;
}
.category .slider .categoryCardIcon {
    display: block;
    margin: 2px auto;
}
.categoryCardName {
    display: block;
}
::-webkit-scrollbar {
   
  height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    height: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    height: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    height: 2px;
  }

  .btn{
    border-width: thin;
    background: white;
    margin-top: 20px!important;
    border-color: #abb0b540;
    display: flex;
    margin: auto;
    height: 50px;
    width: 90px;
    text-align: center;
    justify-content: center;
    padding-top: 12px;
    font-size: 15px;
    border-radius: 10px;
    position: relative;
    bottom: 10px;
  }
  .filter button li{
    list-style: none;
    padding-right: 10px;
  }


  .type{
   display: flex;
  }
  .type .entirePlaceText, .type .privateRoomText, .type .sharedRoomText {
    margin-left: 20px;
  }

  .type div input{
    width: 20px;
    height: 20px;
  }
.type div h3{
    margin:0px;
  }
  .modal-dialog{
    width: 700px!important;
    max-width: inherit;
  }
  .typeOfPlaceSection{
    display: grid;
    grid-template-columns:50% 50%;
  }
  .entirePlace{
    grid-column: 1;
  }
  .bedrooms button:checked{
   background-color: black;
  }
  .category{
    margin-bottom: 30px;
  }
  @media only screen and  (max-width: 764px) {
    .category{
       grid-template-columns: 20% 60% 20%!important;
    }
       
     }
   