.image{
    width: -webkit-fill-available;
    min-height: 250px;
    height: 260px;
    border-radius: 20px;
    object-fit: cover;
    vertical-align: bottom;
}
.card{
    border: none;
}
.cardName, .cardTitle{
    padding-top:10px;
    font-weight: 500;
}
h4, h5{
    margin-bottom: 0px;
}